*, *::before, *::after {
box-sizing: inherit;
}
html {
   box-sizing: border-box;
}

content-box-component {
   box-sizing: content-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-width: 900px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

h1 {
    font-family: Roboto;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    font-family: Roboto;
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
    margin: 35px 235px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
